@import url("./assets/themes/dark-default.css");
@import url("./assets/themes/dark-smooth.css");
@import url("./assets/themes/light.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navigation-transiton {
        @apply transition-all ease-in-out;
        transition-duration: 200ms;
    }
}

@layer utilities {
    @font-face {
        font-family: "Inter";
        src: url("./assets/fonts/Inter/Inter-Regular.ttf");
    }
}

@layer base {
    :root {
        --background: #272727;
        --background2: #202020;
        --app-border: #242424;
        --app-min-max-hover: #5a5a5a;
        --app-min-max-active: #787878;
        --app-close-hover: #e81123;
        --app-close-active: #f1707a;
        --nav-button-hover: #2b2b2b;
        --nav-button-active: #292929;
        --page-border: #1c1c1c;
        --page-item: #323232;
        --outline: #c7c5fa;
    }

    html, body, #root {
        @apply h-screen w-screen;
    }

    * {
        @apply outline-outline;
        font-family: "Inter";
    }
}
